In [5]:
def calculo_nomina(salario_actual, años_hasta_jubilación):
    import math
    import pandas as pd
    redondeado = math.floor(años_hasta_jubilación)
    salario = salario_actual
    ipc= pd.read_excel('Datos/Originales/Dataset_1.xlsx', sheet_name='IPC')
    for i in range(0, redondeado):
        salario = salario + salario*ipc.iloc[i,1]
    return float(salario)

In [6]:
calculo_nomina(15319.07, 13)

22228.62105163274

In [85]:
def calcular_primas_jubilacion(salario, años_trabajados, años_hasta_jubilacion, fecha_jubilación):
    salario_final= calculo_nomina(salario, años_hasta_jubilacion)
    porcentaje_renta = min((años_trabajados // 4) * 0.0225, 0.19)
    m1 = (salario_final * porcentaje_renta)/12
    import datetime as dt
    import pandas as pd
    date_range = pd.date_range(start=fecha_jubilación, periods=22*12, freq='MS')
    date_list = date_range.strftime('%Y-%m').tolist()
    intereses= []
    for i in range(0, 6*12+9):
        intereses.append(0.00165)
    for i in range(0, (22*12) - (6*12+9)):
        intereses.append(0.00124)
    rentas = []
    valor =m1
    for fecha in date_list:
        mes = fecha[-2:] 
        if mes == '01':
            valor *= 1.03 
        rentas.append(valor)
    df = pd.DataFrame({'Fecha': date_list, 'Intereses': intereses, 'Pagos': rentas})
    capital_jubilacion = 0
    for i in range(len(df)-1, -1, -1):
        renta = float(df.iloc[i,2]) * (1+float(df.iloc[i,1]))**-1
        for interes in range(i, -1, -1):
            renta = renta * (1+float(df.iloc[interes,1]))**-1
        capital_jubilacion += renta
    #pasarlo a 2025
    fechas = pd.date_range(start='2025-01-01', end=fecha_jubilación, freq='MS')
    fechas_formateadas = fechas.strftime('%Y-%m')
    
    intereses1= []
    for i in range(0, 7*12):
        intereses1.append(0.00165)
    for i in range(0, len(fechas_formateadas) - 7*12):
        intereses1.append(0.00205)
    
    df1 = pd.DataFrame({'Fecha': fechas_formateadas, 'Intereses': intereses1})
    
    capital_actual= capital_jubilacion
    for i in range(len(df1)-1, -1, -1):
        capital_actual = capital_actual * (1+float(df1.iloc[i,1]))**-1
    
    capital_actual

    return capital_jubilacion, capital_actual

In [86]:
calcular_primas_jubilacion(15319.07,36,13.55, '2038-11-20')

(107688.81617281404, 79105.63581712349)

In [9]:
años_trabajados= 36
salario_final= 1852.38

In [10]:
intereses= []

In [38]:
import pandas as pd
import datetime as dt

In [51]:
fechas = pd.date_range(start='2025-01-01', end='2038-10-22', freq='MS')
fechas_formateadas = fechas.strftime('%Y-%m')

intereses1= []
for i in range(0, 7*12):
    intereses1.append(0.00165)
for i in range(0, len(fechas_formateadas) - 7*12):
    intereses1.append(0.00205)

df1 = pd.DataFrame({'Fecha': fechas_formateadas, 'Intereses': intereses})

In [53]:
df1

       Fecha  Intereses
0    2025-01    0.00165
1    2025-02    0.00165
2    2025-03    0.00165
3    2025-04    0.00165
4    2025-05    0.00165
..       ...        ...
161  2038-06    0.00205
162  2038-07    0.00205
163  2038-08    0.00205
164  2038-09    0.00205
165  2038-10    0.00205

[166 rows x 2 columns]

In [80]:
capital

107424.2299376918

In [77]:
df1.iloc[0,1]

np.float64(0.00165)

In [ ]:
capital_actual= 107424.2299376918
for i in range(len(df1)-1, -1, -1):
    capital_actual = capital_actual * (1+float(df1.iloc[i,1]))**-1

capital_actual

79073.04519760338

In [13]:
date_range = pd.date_range(start=fecha_jubilación, periods=22*12, freq='MS')

date_list = date_range.strftime('%Y-%m').tolist()

In [14]:
intereses= []

In [15]:
for i in range(0, 6*12+9):
    intereses.append(0.00165)
for i in range(0, (22*12) - (6*12+9)):
    intereses.append(0.00124)

In [16]:
df = pd.DataFrame({'Fecha': date_list, 'Intereses': intereses})

In [17]:
df

       Fecha  Intereses
0    2038-11    0.00165
1    2038-12    0.00165
2    2039-01    0.00165
3    2039-02    0.00165
4    2039-03    0.00165
..       ...        ...
259  2060-06    0.00124
260  2060-07    0.00124
261  2060-08    0.00124
262  2060-09    0.00124
263  2060-10    0.00124

[264 rows x 2 columns]

In [18]:
rentas = []

In [19]:
valor =351.95
for fecha in date_list:
    mes = fecha[-2:] 

    if mes == '01':
        valor *= 1.03 
    rentas.append(valor)

In [20]:
rentas

[351.95,
 351.95,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519]

In [21]:
df = pd.DataFrame({'Fecha': date_list, 'Intereses': intereses, 'Terminos': rentas})

In [22]:
df

       Fecha  Intereses    Terminos
0    2038-11    0.00165  351.950000
1    2038-12    0.00165  351.950000
2    2039-01    0.00165  362.508500
3    2039-02    0.00165  362.508500
4    2039-03    0.00165  362.508500
..       ...        ...         ...
259  2060-06    0.00124  674.372595
260  2060-07    0.00124  674.372595
261  2060-08    0.00124  674.372595
262  2060-09    0.00124  674.372595
263  2060-10    0.00124  674.372595

[264 rows x 3 columns]

In [70]:
capital = 0
capital_actual= 0
for i in range(263, -1, -1):
    renta = float(df.iloc[i,2]) * (1+float(df.iloc[i,1]))**-1
    for interes in range(i, -1, -1):
        renta = renta * (1+float(df.iloc[interes,1]))**-1
    capital += renta

In [69]:
capital

107424.2299376918

In [25]:
len(df)

264