In [56]:
def calculo_nomina(salario_actual, años_hasta_jubilación):
    import math
    import pandas as pd
    redondeado = math.floor(años_hasta_jubilación)
    salario = salario_actual
    ipc= pd.read_excel('Datos/Originales/Dataset_1.xlsx', sheet_name='IPC')
    for i in range(0, redondeado):
        salario = salario + salario*ipc.iloc[i,1]
    return float(salario)

In [57]:
calculo_nomina(15319.07, 13)

22228.62105163274

In [58]:
def calcular_monto_mensual(capital, intereses):
    n_periodos = len(intereses)
    sumatorio = sum((1 + intereses[i]) ** (i + 1) for i in range(n_periodos))
    if sumatorio == 0:
        return None
    return capital / sumatorio

In [59]:
def calcular_primas_jubilacion(salario, años_trabajados, años_hasta_jubilacion, fecha_jubilación, interes1, interes2, duración_interes1, interes_rendimiento1, interes_rendimiento2, duración_interés_rendimiento1):
    salario_final= calculo_nomina(salario, años_hasta_jubilacion)
    porcentaje_renta = min((años_trabajados // 4) * 0.0225, 0.19)
    m1 = (salario_final * porcentaje_renta)/12
    import datetime as dt
    import pandas as pd
    date_range = pd.date_range(start=fecha_jubilación, periods=22*12, freq='MS')
    date_list = date_range.strftime('%Y-%m').tolist()
    intereses= []
    int1= ((1+ (interes1*0.01))**(1/12))-1
    int2= ((1+ (interes2*0.01))**(1/12))-1
    año1 = duración_interes1[0]
    mes1= duración_interes1[1]
    for i in range(0, año1*12+ mes1):
        intereses.append(int1)
    for i in range(0, (22*12) - (año1*12+ mes1)):
        intereses.append(int2)
    rentas = []
    valor =m1
    for fecha in date_list:
        mes = fecha[-2:] 
        if mes == '01':
            valor *= 1.03 
        rentas.append(valor)
    df = pd.DataFrame({'Fecha': date_list, 'Intereses': intereses, 'Pagos': rentas})
    capital_jubilacion = 0
    for i in range(len(df)-1, -1, -1):
        renta = float(df.iloc[i,2]) * (1+float(df.iloc[i,1]))**-1
        for interes in range(i, -1, -1):
            renta = renta * (1+float(df.iloc[interes,1]))**-1
        capital_jubilacion += renta
    #pasarlo a 2025
    fechas = pd.date_range(start='2025-01-01', end=fecha_jubilación, freq='MS')
    fechas_formateadas = fechas.strftime('%Y-%m')
    
    int_ren1= ((1+ (interes_rendimiento1*0.01))**(1/12))-1
    int_ren2= ((1+ (interes_rendimiento2*0.01))**(1/12))-1
    año2= duración_interés_rendimiento1[0]
    mes2= duración_interés_rendimiento1[1]
    
    intereses1= []
    for i in range(0, año2*12+mes2):
        intereses1.append(int_ren1)
    for i in range(0, len(fechas_formateadas) - 7*12):
        intereses1.append(int_ren2)
    
    df1 = pd.DataFrame({'Fecha': fechas_formateadas, 'Intereses': intereses1})
    
    capital_actual= capital_jubilacion
    for i in range(len(df1)-1, -1, -1):
        capital_actual = capital_actual * (1+float(df1.iloc[i,1]))**-1
    
    monto_mensual = calcular_monto_mensual(capital_jubilacion, df1['Intereses'].tolist())
        
    return capital_jubilacion, capital_actual, monto_mensual

In [62]:
calcular_primas_jubilacion(15319.07,36,13.55, '2038-11-20',2,1.5, [6,9], 2.5, 2, [7,0])

(107665.69921202921, 78981.5743038414, 554.8229170516299)

In [10]:
años_trabajados= 36
salario_final= 1852.38

In [11]:
intereses= []

In [12]:
import pandas as pd
import datetime as dt

In [13]:
fechas = pd.date_range(start='2025-01-01', end='2038-10-22', freq='MS')
fechas_formateadas = fechas.strftime('%Y-%m')

intereses1= []
for i in range(0, 7*12):
    intereses1.append(0.00165)
for i in range(0, len(fechas_formateadas) - 7*12):
    intereses1.append(0.00205)

df1 = pd.DataFrame({'Fecha': fechas_formateadas, 'Intereses': intereses1})

In [14]:
df1

       Fecha  Intereses
0    2025-01    0.00165
1    2025-02    0.00165
2    2025-03    0.00165
3    2025-04    0.00165
4    2025-05    0.00165
..       ...        ...
161  2038-06    0.00205
162  2038-07    0.00205
163  2038-08    0.00205
164  2038-09    0.00205
165  2038-10    0.00205

[166 rows x 2 columns]

In [ ]:
df1.iloc[84,0]

'2032-01'

In [49]:
import pandas as pd

def calcular_monto_mensual(capital, intereses):
    n_periodos = len(intereses)
    sumatorio = sum((1 + intereses[i]) ** (i + 1) for i in range(n_periodos))
    if sumatorio == 0:
        return None
    return capital / sumatorio

# Generación del DataFrame
fechas = pd.date_range(start='2025-01-01', end='2038-10-22', freq='MS')
fechas_formateadas = fechas.strftime('%Y-%m')

intereses1 = []
for i in range(0, 7*12):
    intereses1.append(0.00165)
for i in range(0, len(fechas_formateadas) - 7*12):
    intereses1.append(0.00205)

df1 = pd.DataFrame({'Fecha': fechas_formateadas, 'Intereses': intereses1})

# Aplicación de la función
capital = 107665.69  # Monto de capital
monto_mensual = calcular_monto_mensual(capital, df1['Intereses'].tolist())

print(f"El monto mensual a pagar es: {monto_mensual:.2f}")

El monto mensual a pagar es: 548.41

In [ ]:
import pandas as pd

def calcular_monto_mensual(capital, intereses):
    n_periodos = len(intereses)
    sumatorio = sum((1 + intereses[i]) ** -(i + 1) for i in range(n_periodos))
    if sumatorio == 0:
        return None
    return capital / sumatorio

# Generación del DataFrame
fechas = pd.date_range(start='2025-01-01', end='2038-10-22', freq='MS')
fechas_formateadas = fechas.strftime('%Y-%m')

intereses1 = []
for i in range(0, 7*12):
    intereses1.append(0.00165)
for i in range(0, len(fechas_formateadas) - 7*12):
    intereses1.append(0.00205)

df1 = pd.DataFrame({'Fecha': fechas_formateadas, 'Intereses': intereses1})

# Aplicación de la función
capital = 78981.57  # Monto de capital
monto_mensual = calcular_monto_mensual(capital, df1['Intereses'].tolist())

print(f"El monto mensual a pagar es: {monto_mensual:.2f}")

El monto mensual a pagar es: 556.72

In [ ]:
capital_actual= 107424.2299376918
for i in range(len(df1)-1, -1, -1):
    capital_actual = capital_actual * (1+float(df1.iloc[i,1]))**-1

capital_actual

79073.04519760338

In [ ]:
for i in range(len(df1), len(df1)-7*12, -1):
    print(i)

166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83

In [ ]:
7*12

84

In [ ]:
for i in range(7*12+1,len(df1)):
    print(i)

85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165

In [ ]:
for e in range(1,len(df1)-7*12+1):
    print(e)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82

In [ ]:
for e in range(1,len(df1)-7*12):
    print(e)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81

In [16]:
capital1= 0
for i in range(7*12+1,len(df1)):
    for e in range(1,len(df1)-7*12):
        capital1 += (1+float(df1.iloc[i,1]))**(-e)*((1+0.00165)**(-e))

In [17]:
capital1

5659.39484744303

In [18]:
capital2= 0
for i in range(1, 7*12):
    capital2 += (1+float(df1.iloc[i,1]))**(-i)

In [19]:
capital2

77.50772943185214

In [ ]:
len(df1)-7*12

82

In [ ]:
date_range = pd.date_range(start=fecha_jubilación, periods=22*12, freq='MS')

date_list = date_range.strftime('%Y-%m').tolist()

In [ ]:
intereses= []

In [ ]:
for i in range(0, 6*12+9):
    intereses.append(0.00165)
for i in range(0, (22*12) - (6*12+9)):
    intereses.append(0.00124)

In [ ]:
df = pd.DataFrame({'Fecha': date_list, 'Intereses': intereses})

In [ ]:
df

       Fecha  Intereses
0    2038-11    0.00165
1    2038-12    0.00165
2    2039-01    0.00165
3    2039-02    0.00165
4    2039-03    0.00165
..       ...        ...
259  2060-06    0.00124
260  2060-07    0.00124
261  2060-08    0.00124
262  2060-09    0.00124
263  2060-10    0.00124

[264 rows x 2 columns]

In [ ]:
rentas = []

In [ ]:
valor =351.95
for fecha in date_list:
    mes = fecha[-2:] 

    if mes == '01':
        valor *= 1.03 
    rentas.append(valor)

In [ ]:
rentas

[351.95,
 351.95,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 362.50849999999997,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 373.38375499999995,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 384.58526764999993,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 396.12282567949995,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 408.00651044988496,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 420.2467057633815,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 432.85410693628296,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 445.83973014437146,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 459.2149220487026,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 472.99136971016367,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 487.1811108014686,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 501.7965441255127,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 516.850440449278,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 532.3559536627564,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 548.3266322726391,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 564.7764312408183,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 581.7197241780428,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 599.1713159033841,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 617.1464553804856,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 635.6608490419002,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 654.7306745131572,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519,
 674.3725947485519]

In [ ]:
df = pd.DataFrame({'Fecha': date_list, 'Intereses': intereses, 'Terminos': rentas})

In [ ]:
df

       Fecha  Intereses    Terminos
0    2038-11    0.00165  351.950000
1    2038-12    0.00165  351.950000
2    2039-01    0.00165  362.508500
3    2039-02    0.00165  362.508500
4    2039-03    0.00165  362.508500
..       ...        ...         ...
259  2060-06    0.00124  674.372595
260  2060-07    0.00124  674.372595
261  2060-08    0.00124  674.372595
262  2060-09    0.00124  674.372595
263  2060-10    0.00124  674.372595

[264 rows x 3 columns]

In [ ]:
capital = 0
capital_actual= 0
for i in range(263, -1, -1):
    renta = float(df.iloc[i,2]) * (1+float(df.iloc[i,1]))**-1
    for interes in range(i, -1, -1):
        renta = renta * (1+float(df.iloc[interes,1]))**-1
    capital += renta

In [ ]:
capital

107424.2299376918

In [ ]:
len(df)

264