In [142]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [143]:
# Cargar datos
path_datos = os.path.join('..','..','Datos','Limpios')
df2 = pd.read_csv(os.path.join(path_datos,'datos2_limpios.csv'), index_col=0)

df2_limpio = df2.drop(['Porcentaje Ahorro (%)', 'Ahorro Actual (€)', 'Gasto Mensual (€)',
                        'Vida Esperada (años)', 'Edad de Jubilación'], axis=1)

In [144]:
# Definir variables de entrada y salida
X = df2_limpio.drop(columns=['Años Hasta Jubilación'])
y = df2_limpio['Años Hasta Jubilación']

In [145]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [146]:
# Modelos a probar
models = {
    'Random Forest': RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    'XGBoost': XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    'LightGBM': LGBMRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    'Lasso': Lasso(alpha=0.1),
    'Ridge': Ridge(alpha=1.0),
    'ElasticNet': ElasticNet(alpha=0.1, l1_ratio=0.5),
    'Red Neuronal': MLPRegressor(hidden_layer_sizes=(100,50), activation='relu', solver='adam', max_iter=500)}

In [147]:
# Evaluación de los modelos
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    
    # Cálculo de métricas
    mae_train = mean_absolute_error(y_train, y_pred_train)
    mae_test = mean_absolute_error(y_test, y_pred_test)
    rmse_train = np.sqrt(mean_squared_error(y_train, y_pred_train))
    rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
    r2_train = r2_score(y_train, y_pred_train)
    r2_test = r2_score(y_test, y_pred_test)
    
    print(f'----- {name} -----')
    print(f'MAE Entrenamiento: {mae_train:.2f}, MAE Prueba: {mae_test:.2f}')
    print(f'RMSE Entrenamiento: {rmse_train:.2f}, RMSE Prueba: {rmse_test:.2f}')
    print(f'R² Entrenamiento: {r2_train:.2f}, R² Prueba: {r2_test:.2f}')
    print('-' * 30)

----- Random Forest -----
MAE Entrenamiento: 1.12, MAE Prueba: 1.48
RMSE Entrenamiento: 1.35, RMSE Prueba: 1.79
R² Entrenamiento: 0.99, R² Prueba: 0.98
------------------------------
----- Gradient Boosting -----
MAE Entrenamiento: 1.39, MAE Prueba: 1.41
RMSE Entrenamiento: 1.66, RMSE Prueba: 1.69
R² Entrenamiento: 0.98, R² Prueba: 0.98
------------------------------
----- XGBoost -----
MAE Entrenamiento: 1.23, MAE Prueba: 1.45
RMSE Entrenamiento: 1.48, RMSE Prueba: 1.75
R² Entrenamiento: 0.99, R² Prueba: 0.98
------------------------------
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000115 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 300
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 2
[LightGBM] [Info] Start training from score 22,275000
----- LightGBM -----
MAE Entrenamiento: 1.30, MAE Prueba: 1.44
RMSE Entrenamiento: 1.57, RMSE Prueba: 1.74
R² Entrenamiento: 0.98, R² Prueba: 0.98
------------------------------
----- Lasso -----
MAE Entrenamiento: 1.44, MAE Prueba: 1.41
RMSE Entrenamiento: 1.71, RMSE Prueba: 1.68
R² Entrenamiento: 0.98, R² Prueba: 0.98
------------------------------
----- Ridge -----
MAE Entrenamiento: 1.44, MAE Prueba: 1.41
RMSE Entrenamiento: 1.71, RMSE Prueba: 1.68
R² Entrenamiento: 0.98, R² Prueba: 0.98
------------------------------
----- ElasticNet -----
MAE Entrenamiento: 1.44, MAE Prueba: 1.41
RMSE Entrenamiento: 1.71, RMSE Prueba: 1.68
R² Entrenamiento: 0.98, R² Prueba: 0.98
------------------------------
----- Red Neuronal -----
MAE Entrenamiento: 13.63, MAE Prueba: 13.15
RMSE Entrenamiento: 16.28, RMSE Prueba: 15.69
R² Entrenamiento: -0.62, R² Prueba: -0.61
------------------------------

In [148]:
# Validación cruzada
for name, model in models.items():
    scores = cross_val_score(model, X, y, cv=5, scoring='r2')
    print(f'R² promedio en validación cruzada para {name}: {np.mean(scores):.2f}')

R² promedio en validación cruzada para Random Forest: 0.98
R² promedio en validación cruzada para Gradient Boosting: 0.98
R² promedio en validación cruzada para XGBoost: 0.98
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000092 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 300
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 2
[LightGBM] [Info] Start training from score 22,167500
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000092 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 300
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 2
[LightGBM] [Info] Start training from score 22,170750
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000088 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 300
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 2
[LightGBM] [Info] Start training from score 22,041750
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000096 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 300
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 2
[LightGBM] [Info] Start training from score 22,136000
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000091 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 300
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 2
[LightGBM] [Info] Start training from score 21,914000
R² promedio en validación cruzada para LightGBM: 0.98
R² promedio en validación cruzada para Lasso: 0.98
R² promedio en validación cruzada para Ridge: 0.98
R² promedio en validación cruzada para ElasticNet: 0.98
R² promedio en validación cruzada para Red Neuronal: -0.62

In [149]:
# Cargar nuevo dataset
df = pd.read_csv(os.path.join(path_datos, 'datos1_limpios.csv'), index_col=0)

In [150]:
X_2 = df.drop(['ID', 'FECHA NAC', 'SEXO', 'FECHA ENTRADA', 'PARA CONTAR MESES'], axis=1)

In [151]:
X_2.columns = ['Ingreso Anual (€)','Edad']
X_2 = X_2[['Edad','Ingreso Anual (€)']] 
X_2

    Edad  Ingreso Anual (€)
0     51           15319.07
1     30           19168.80
2     52           18719.86
3     50           12942.60
4     49           20158.08
..   ...                ...
95    50           25222.69
96    34           18759.95
97    26           22175.25
98    36           25972.71
99    41           25657.46

[100 rows x 2 columns]

In [152]:
model_rf = models['Random Forest']

In [153]:
y_pred = model_rf.predict(X_test)
y_pred

array([35.59299305,  3.0028848 , 21.40324514, 32.50704032, 43.89722629,
       19.77363989, 14.92920877, 32.32382711, 33.57708009, 14.50343557,
       32.57349895, 38.9065146 ,  4.44773808, 15.68255578, 29.40488577,
       38.37355962, 13.41443881, 17.78308607, 39.5411492 , 39.1223674 ,
       42.98890495, 39.5411492 , 13.74418199,  4.86648249, 27.23501282,
        7.13440847, 10.56741347, 33.72690317, 25.99314419, 26.57162849,
       18.26200402, 41.02129072, 33.2757526 , 26.4591846 , 27.50840027,
       34.00351577, 12.62965213, 40.07940977, 24.55655237,  7.87163488,
       26.19113996, 10.87547802,  4.88408436, 23.97244423, 27.10848155,
        8.16899158, 20.38084123, 28.79636997, 22.61835394,  5.95853771,
       17.43151956,  1.5046278 , 32.15570932, 12.86287162,  7.55744106,
       43.07836895, 16.78286433,  4.1207264 ,  6.92839284, 35.89198571,
        3.14190072, 26.04084644, 23.78616084, 34.00351577, 24.55655237,
       40.69640672, 28.78811303,  0.43862708, 26.68948589, 12.31777095,
        6.32479749, 21.40324514, 29.38969132,  0.81048609,  9.37558918,
       18.93358723, 16.6058366 , 15.68374767, 35.89198571, 26.19148873,
       13.11330961,  2.84437093, 29.6330928 ,  4.37047407, 42.21237196,
       28.6453391 , 40.39329263, 38.4808393 ,  3.42713259, 29.81892548,
       35.69790528, 17.40178178,  0.81048609, 14.04539904,  7.6981319 ,
       24.98706151, 22.36164874, 35.33458448, 29.27648541, 33.11815462,
       24.06844419, 27.1960116 , 32.78305758,  3.13341442,  9.92028809,
       11.85734775, 28.32106582, 32.81509639, 38.43656319, 40.64281397,
        6.83096752, 13.75106374, 10.2743908 , 32.32382711, 15.76947594,
       32.32382711, 14.51443557, 31.77581575,  1.0056595 , 40.39329263,
       19.35830955,  3.59627559, 34.06709583,  7.04908501, 31.72988556,
       36.66103578,  5.1893141 , 11.42151119, 25.87891323, 11.85734775,
       28.57130059, 23.70424446, 29.68401478, 43.94912908,  5.01493958,
       17.40178178, 15.56932424, 25.76420702,  7.4163656 ,  6.41979408,
        1.04992841,  1.34889612,  4.37047407,  6.85213653, 15.30516075,
       15.49627484, 27.46648874, 23.70783644, 26.1629173 , 31.77581575,
       35.60207513, 28.80585951, 20.95657567, 10.3349522 , 27.08064028,
       11.27456763,  3.09127447, 23.83099333,  7.6981319 ,  6.80715397,
       26.44379248,  3.94316245, 20.47826945, 15.94626338, 23.70424446,
       29.81515864, 38.56686141, 10.56741347, 26.3039476 , 22.15149132,
       41.43003358, 42.89872673, 31.61876522, 24.40935342, 23.70424446,
        4.31103767, 20.35631962, 41.11843784, 34.66208836, 29.86011063,
       27.39953012, 35.33458448, 43.54934561, 20.47826945, 41.18050077,
        1.29132011,  8.46545003, 15.68374767, 24.2446583 , 22.05766308,
       42.69710508, 25.28358869,  5.91056791, 20.23418091,  1.19584011,
       32.15266361, 22.43886395, 26.41331168, 15.42500211, 10.3549522 ,
       42.21237196, 18.28537226, 21.15681934, 27.71313451,  7.6981319 ,
        1.04992841, 40.63215799,  5.64503657, 12.22353291, 16.33710823,
       36.42105809,  9.37558918, 18.18740413, 29.71685231, 31.72988556,
       37.53562961, 26.18364959, 14.13743441,  3.31733807, 13.9063757 ,
       15.74008677, 27.61470623, 38.56992696, 21.85322243, 38.65049326,
        4.86648249, 32.32382711, 17.26609889, 10.97602351, 31.23551291,
       17.74115127, 22.75467032,  3.90006346, 38.49793373, 39.60794458,
       33.31890264, 36.30423168,  1.70961562, 24.77972191, 28.79636997,
       21.89867976,  6.26281996, 13.84813461, 29.16086774,  1.04992841,
       17.44675499,  6.41979408,  4.37047407, 38.77639503, 13.55075365,
       36.38587557, 31.72988556, 42.21237196, 29.64608485, 11.38506014,
       32.6130378 , 24.14386896, 30.7518534 , 32.81840542, 25.63201024,
       22.80521668,  0.34399961,  5.1893141 ,  0.67319705,  3.33286523,
       18.95044987, 29.27648541, 21.43387275, 33.72045906, 32.15570932,
       23.7879904 , 23.55963719, 19.77363989, 35.95273199, 10.01873281,
       14.56608428, 17.65516781, 29.86706295,  7.16002729, 11.29756797,
       17.16231767, 32.70822653, 26.23943242, 23.2395166 ,  4.86478529,
        3.15341442,  8.8013782 ,  6.82714284, 33.31890264, 16.35104968,
       27.10580205, 27.96215875,  8.36581769,  7.14833333, 41.18050077,
       26.38664502, 30.7800085 , 10.42227226, 10.2743908 , 26.40585797,
        0.29966627, 28.30677622, 14.56608428, 41.15351703, 15.96359505,
       31.37730327, 10.2743908 ,  3.59627559, 18.37326877, 24.09059742,
       38.93512021, 18.58340755, 32.82255265, 14.77216654, 35.30518544,
       14.5329024 , 11.8087343 , 39.62927447,  6.23058956, 15.64214592,
        2.6944635 , 16.33710823, 29.00089113, 16.28478845, 26.03054595,
       42.95976948,  7.73379669,  0.30588514, 24.55655237, 25.90242201,
       20.47826945,  3.86253219, 39.62927447, 25.40544128,  8.46988764,
       15.68374767, 18.21292141, 34.7947827 ,  8.16899158, 35.92242285,
       43.12279656, 24.55655237,  1.5046278 , 11.53626157, 18.92725389,
       14.75409608, 27.24425938, 39.5411492 , 31.04363422, 29.89556518,
       23.42476277, 13.28615802, 33.31890264, 16.50508753, 13.04647249,
        4.86648249, 12.31777095, 24.55655237, 28.07600179, 27.87105369,
        7.04908501, 14.65597223, 32.17842126, 16.33710823, 39.13645831,
       15.6681512 , 33.54385351, 24.31307496, 33.56000088, 14.50069294,
       14.88112746, 43.28868345, 14.56852074, 11.88744193, 28.79636997,
       21.85322243, 14.19535167, 10.30675073, 17.19378319, 16.62002271,
       14.72181679, 22.1402489 , 25.43624128,  3.1989779 , 28.58741565,
       36.38587557, 34.10824142, 15.85916744, 17.68916358,  3.34972063,
       19.77363989, 41.18050077, 36.11052772, 15.85042804, 19.77363989,
        1.5046278 ,  2.30372245,  3.31276505, 33.33698918,  6.72582319,
       28.24927041, 18.87098783,  1.5046278 , 10.39860519, 34.57521488,
       17.37408926, 14.17479553, 24.62222294, 29.00478338, 34.61999651,
        3.92315074, 23.72118331, 14.77624019, 35.33160761, 20.25309567,
       32.93365346, 34.94260051,  6.72582319, 35.64697743, 19.77363989,
       15.65370398, 30.60865244, 30.76047426, 18.87098783,  3.50675142,
       29.75425945,  8.36814213, 16.19269206, 18.87098783, 40.02929614,
        6.82714284, 32.17569407,  3.59627559,  6.45347992,  3.92814001,
       42.27506037, 38.90702324,  7.94208737, 32.32382711, 28.49498259,
       38.43656319, 15.96487499, 19.83579325,  3.59627559, 20.47826945,
        3.0287809 , 21.40324514, 37.16713834,  3.27755675,  4.07383439,
       11.27456763, 24.55655237,  5.73157876, 26.19148873, 42.77272762,
        4.12350737, 39.01241285, 14.35778468, 22.39200001, 14.4867689 ,
       18.87098783, 37.63591324, 44.35264394, 18.28537226, 28.97822304,
       42.92305317,  9.36569892, 16.02111614, 21.41207577, 42.21237196,
       31.79550703,  4.18126826, 31.19043051, 33.28952522,  9.37558918,
        0.63788514, 19.77363989, 38.43656319, 36.68092995,  9.73153145,
       31.19043051, 13.55075365,  7.32151614, 38.73475904, 18.50261023,
       28.68777205, 38.74376011, 42.13491348, 20.86840021, 32.48926393,
        0.64291408,  5.67073692, 40.71931001, 42.56366104, 40.89982159,
       42.26937915, 34.00351577, 11.29522466, 43.54934561, 11.13227022,
       18.57002921, 24.356065  , 10.91895595, 38.29564295, 22.61835394,
        4.01673902,  6.70743802, 13.34055365,  1.1882803 , 35.00951714,
       32.32382711, 36.30454763, 36.03091044, 19.6088843 , 15.16026828,
       17.02286433, 19.30760701,  0.82209013, 40.48925418, 18.99670607,
       38.43656319, 36.21734709, 30.71180756, 16.52430481, 13.75388636,
       39.95555465, 34.63637726, 11.7886826 , 30.31079083, 34.44318971,
       34.65774749,  3.80285653,  5.61253657, 22.44917769,  0.2562293 ,
       11.02089174, 22.61835394, 29.8476217 ,  6.61482863, 11.55031877,
       43.54934561, 37.48555995, 13.11330961, 10.2743908 , 28.78811303,
       22.61835394,  7.04425083,  3.17810838,  3.31276505, 19.39275399,
       10.43723451, 35.89198571, 41.89334287, 12.31777095, 18.94120883,
       18.21979211, 15.66381259, 19.60613164, 20.85457786, 20.47826945,
       28.81419273, 43.19091531, 32.25132958, 37.61391324, 23.82834217,
       23.73737181,  0.96028593, 14.86547458, 41.67901809, 40.91409604,
       29.27648541, 30.8484716 , 25.00539484, 38.43656319,  7.83902284,
       25.23476252,  6.41979408,  2.06514515, 10.1650673 , 15.21239937,
        1.241147  , 28.73573525, 40.39944394, 25.67418915,  1.24839373,
       33.11815462, 43.29498565, 30.48493731, 10.99947802,  1.04992841,
       28.62781859, 20.74103842, 24.55655237, 42.21237196, 39.41066492,
       37.53562961,  3.59627559, 14.58609038,  9.00925067, 29.16086774,
       40.39329263,  0.43862708, 28.25044439, 14.45961107, 37.98232646,
       10.83065721, 16.33710823, 33.75329615,  3.92932081, 40.66640672,
       18.4323169 , 13.17190479,  4.08465414, 41.12699392, 23.07615506,
       29.28033765,  3.34534803,  8.79243519, 25.20931044,  2.69318326,
       35.57879943, 11.347308  , 39.62927447, 30.19843432, 12.20504075,
        2.79296022, 14.50479553, 23.42761517,  4.96898912, 43.87406506,
       13.55075365, 11.44567334,  4.04794428, 40.39944394, 10.8843325 ,
        9.65203191,  6.40888653, 29.27648541, 18.57002921, 16.1747307 ,
       29.73183285, 34.00351577, 38.72549326,  2.57161096, 13.89495552,
       36.26872978,  2.40837993, 10.26923787, 32.32382711, 40.96059731,
        3.07947587, 29.27648541,  6.1035813 , 36.38587557,  6.07381941,
       35.91091193, 29.67426553, 16.33710823, 16.55971634,  8.16899158,
       26.03054595, 23.76402374, 24.1239976 , 23.591949  , 15.68374767,
       23.70424446, 28.79636997,  7.53663346, 37.63106305,  9.37558918,
       26.91423216, 17.40178178,  0.63355047, 21.43387275, 28.79636997,
       12.34508273, 19.77363989, 36.24651376, 12.31777095, 32.94592512,
       22.83208761, 20.47826945, 31.95204627, 28.79636997,  7.14833333,
       41.94746045, 35.89275299,  2.39135913, 28.79636997,  1.04992841,
        1.13459955, 18.93169723,  1.5046278 , 16.33710823,  5.79105628,
       24.67470266, 20.77147735, 12.31777095, 30.77459977, 13.55075365,
       18.23814869, 34.00351577, 27.0568577 , 11.27456763, 32.32382711,
       32.32382711, 27.82827576, 10.2743908 , 35.89198571, 19.77363989,
       11.38119921,  3.28309941, 18.45735322, 42.00311496,  1.42671957,
       40.05578131, 32.74755788,  4.77686471, 37.53562961, 32.24399883,
        8.21875705,  3.90006346, 21.43968079,  7.08408501,  0.28434668,
       22.66283609, 32.46178391, 25.50734647, 16.37898661, 14.17479553,
       18.93933391, 37.52143791, 10.31793852, 11.06741839,  4.86648249,
       24.55655237, 12.92151262,  3.50675142, 12.31777095, 21.25266549,
        7.6842086 , 27.03297005, 14.71610996, 18.7834078 , 23.47580484,
       22.61835394, 29.52154888, 17.40178178, 15.15901828, 34.11453686,
        9.24195066,  3.42753082,  3.59627559, 25.84097329, 22.61835394,
       26.19478093, 20.54234657, 10.26923787, 18.9895333 , 17.40178178,
        6.41979408, 25.68454387,  4.37047407,  3.31276505,  3.22046607,
       13.55075365, 39.82817174, 25.67418915, 18.95044987, 13.33902012,
        8.8013782 , 35.17846269,  4.86648249, 30.3836212 , 19.01118566,
       11.47869921,  0.72281943, 38.55992696, 18.94708723,  3.17873481,
        7.58453666, 37.69381601, 11.84994193, 37.63552258, 32.0482031 ,
       20.34543922, 28.66448525, 40.48925418,  0.39883522,  7.6981319 ,
       38.90702324, 33.2457526 ,  7.25592637, 40.92388234, 27.64806084,
       33.02117015, 11.1389124 , 14.17479553,  7.58453666, 18.00295855,
       35.31279906, 21.98561489, 28.65948035, 26.23943242, 17.40178178,
       13.28615802, 10.44429371, 28.79636997, 35.62416325, 41.18050077,
       19.77363989, 25.42338241, 10.21231959, 24.55655237, 38.78578383,
       40.39329263, 14.32757101, 28.76124488, 40.35912352, 10.54723451,
       15.96359505, 28.79636997, 28.07190664, 18.41070068, 20.63906107,
       26.45585797, 35.89198571, 24.55655237, 23.23116514, 40.79611854,
       30.18741188, 16.55607412, 32.95939155, 14.4268761 , 13.37793414,
       30.02262136,  1.67711646, 14.50912215, 32.81068482, 22.18360138,
       41.45412183, 21.22683216, 10.13315648, 38.43656319, 26.82825739,
       27.39953012, 38.43656319,  2.06514515, 31.10029246, 29.62426553,
       40.69132291,  8.00947125, 28.79636997, 18.28537226, 28.79636997,
       18.34981354, 14.78041436, 27.62680696, 17.86477308, 31.72988556,
       28.31897238, 34.57082984,  5.61292835, 43.0875031 , 29.90521573,
        0.49947507,  1.59863102, 26.20803543, 12.1764304 , 38.43656319,
       17.42285819, 16.33710823, 19.77363989, 16.12119962, 39.5411492 ,
       11.6487343 , 32.62421671, 11.8929872 , 33.31890264, 18.87098783,
       28.08117465,  3.84878429, 33.31890264,  2.45105761, 14.3207983 ,
       15.96487499, 30.18723348,  8.16899158, 24.52073129, 16.22269206,
       20.39652402, 42.21237196, 24.17275714, 14.6974543 , 29.68401478,
       18.6466237 , 18.87819958,  6.53805052,  1.16919048,  5.34253657,
        4.86648249,  1.50798506,  4.86648249, 42.21498065, 19.77363989,
       22.43158509, 36.1274768 , 31.72988556, 20.47826945,  3.50987913,
        6.53872892, 31.12917957,  1.04992841, 10.86547802, 42.21237196,
       38.9328973 , 18.04760141, 42.36048091, 32.32382711,  5.17502839,
       19.43667556, 38.51889756, 23.34112259,  2.38637993, 18.35681179,
       23.92232367, 26.44379248, 16.33710823, 24.55655237, 16.68030001,
       40.79611854, 30.7800085 , 16.15040655,  6.62453282,  5.1993141 ,
       34.15826732, 20.23418091, 18.59160324, 12.31777095, 16.76803418,
       26.23943242, 14.59702005, 19.63752999, 41.62926212, 14.32757101,
       30.39695453, 25.19505543,  1.66606467, 31.72988556, 32.32382711,
       18.45082993, 18.89956814,  3.2669689 , 10.25030681, 13.34856023,
       33.1692811 , 24.64049487, 38.85217696, 41.18050077, 33.25933357,
        1.17539826, 42.03900701, 17.41825592, 13.75978276, 38.15411757,
       15.59375079, 27.39953012, 12.31777095, 28.63980846, 23.06790756,
       18.41070068, 18.80299355, 21.40324514, 33.05083145, 19.72498708,
       34.07921822, 43.54934561, 45.32739952, 10.2743908 , 34.75399711,
        9.33769892,  2.85747133, 10.2743908 , 12.74037739, 33.16303478,
       18.45735322, 14.41864049, 10.2743908 , 34.07921822, 33.05114613,
       32.16999503, 18.18101991, 24.55655237,  4.9010645 , 38.43656319,
       18.86973804, 29.3560772 ,  3.66642264, 18.53702318, 42.21237196])

In [154]:
y_test.shape

(1000,)

In [155]:
y_pred.shape

(1000,)

In [156]:
y_test = pd.DataFrame(y_test)
y_test['PRED'] = y_pred
y_test['Error'] = y_test['Años Hasta Jubilación']-y_test['PRED']
y_test

      Años Hasta Jubilación       PRED     Error
1501                     36  35.592993  0.407007
2586                      1   3.002885 -2.002885
2653                     20  21.403245 -1.403245
1055                     32  32.507040 -0.507040
705                      46  43.897226  2.102774
...                     ...        ...       ...
4711                     18  18.869738 -0.869738
2313                     30  29.356077  0.643923
3214                      3   3.666423 -0.666423
2732                     16  18.537023 -2.537023
1926                     43  42.212372  0.787628

[1000 rows x 3 columns]